{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='./css/alert.css'> 
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row rowAlert">
			<div class="col-lg-12" align="center">
				<h1 class="alert">{{ title }}</h1>
			</div>
		</div>
	</div>

{% endblock %}
