<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <img id="imagenLogo" alt="Logo" src="/images/llaveRosa.png" class="iconoBox"></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav float-right">
                {% if activemenu == 'buildings-list' %}
                    <li><a id="botonAgregarPropietarios"href="/agregarPropietario">Añadir propietario</a></li>

                    <li> <a id="botonAgregarVivienda" href="/agregarVivienda">Añadir vivienda</a></li>
                {% endif %}
                {% if sinLogout is not defined %}
                    <li> 
                        <a class="cerrar-sesion" href="logout" onClick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                        <form id="logout-form" action='logout' method="POST" style='display:none;'>
                            {{ csrf_field() }}
                        </form>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</header>

<!-- Modal operacion exitosa -->
<div class="modal fade" id="modalOperacionExitosa" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Operación exitosa.</h4>
            </div>
        </div>
    </div>
</div>

<!-- Modal operacion fallida -->
<div class="modal fade" id="modalOperacionFallida" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Error. Operación fallida.</h4>
            </div>

        </div>
    </div>
</div>