<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <img id="imagenLogo" alt="Logo" src="images/llaveRosa.png" class="iconoBox"></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            {% if activemenu == 'buildings-list' %}
                <form class="navbar-form navbar-left" id="buscador">
                    <div class="input-group">
                        <input id="form-control-busqueda" type="search" class="form-control" placeholder="Búsqueda por dirección">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btnOscuro" onclick="busquedaPorPalabra();">Buscar</button>
                        </span>
                    </div>
                </form>
            {% endif %} 

            <ul class="nav navbar-nav float-right">
                {% if activemenu == 'buildings-list' %}
                    <li><a id="botonAgregarPropietarios"href="/agregarPropietario">Añadir propietario</a></li>

                    <li> <a id="botonAgregarVivienda" href="/agregarVivienda">Añadir vivienda</a></li>
                {% endif %}
                <li> 
                    <a class="cerrar-sesion" href="logout" onClick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                    <form id="logout-form" action='logout' method="POST" style='display:none;'>
                        {{ csrf_field() }}
                    </form>
                </li>
            </ul>

        </div>
    </div>


</header>
