.margenSuperior{
    margin-top: 15px;
}

.margenInferior{
    margin-bottom: 15px;
}


.media-body{
  text-align: justify;
}

.modal-header {
    padding: 10px 10px;
}

.form-control-feedback{
  margin-right: 10px; 
}

.listadoCUIT{
  max-height: 170px; 
  overflow-y: scroll; 
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #c4445a;
 }

 .nav-pills > li > a {
    color: black;
 }

textarea {
  width: 100% !important;
  border: 0px;
  resize: none;
}

.text-dropdown{
	text-align: right;
	height: 100%;
	line-height: 100%;
	width: 100%;
}

.dropdownButton{
	width: 100%;
	text-align: center; 
}