body{
    overflow-x: hidden;
}

.icono{
    padding-right: 5px;
}

#barraListado{
    display: block;
}

#barraPropietarios{
    display: none;
}

.margenSuperior{
    margin-top: 15px;
}

.item-listado{
    border-radius: 4px; 
    margin: 7px;
}

.list-group-item:last-child {
    margin-bottom: 7px; 
}

.margenIzquierdo{
    margin-left: 5px; 
}

.withoutMargin{
    margin-bottom: 0%; 
}

.centeredContainer{
    width: 70%; 
    margin-right: 15%;
    margin-left: 15%;
}

.rowAcotada{
    height: 27px; 
}

.rowConPadding{
    padding-top: 5px;
    padding-left: 10px;
}

.checkedStar{
    color: orange; 
}

.nonCheckedStar{
	color: lightgrey; 
}

.mediaContainer{
    margin-left: 5%; 
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.espacio{
    margin-right: 1px;
    margin-left: 1px;
}